.navbar {
  border-bottom: transparent;
  height: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  background-color:rgba(070718);

}



.elemento-header {
  font-size: 20px;
  text-decoration: none;
  position: relative; /* Posicionamiento relativo para el submenu */


}

.elemento-header a{
  text-decoration: none;
  color: white;
  
} 

.usuario-header {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  
  
}


.navbar-list {
  display: flex;
  background-color: transparent;
  justify-content: space-around;
  align-items: center;
  color: white;
  list-style: none;
}

.busqueda-header {
  width: 50%;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #212B45;
  outline: none;
  padding: 20px;
}

.box-input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
}

.usuario-header a {
  color: white;
}



.submenu {
  position: absolute; /* Posicionamiento absoluto */
  top: 100%; /* Coloca el menú debajo del elemento principal */
  left: 0;
  background-color: #444; /* Fondo del menú desplegable */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
  display: flex;
  flex-direction: column;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}



.submenu a {
  padding: 10px 15px;
  text-decoration: none; /* Sin subrayado */
  display: block; /* Hacer que toda la área sea clickeable */
  list-style-type: none; /* Elimina los círculos a la izquierda */

}

.submenu a:hover {
  background-color: #555; /* Color de fondo al pasar el mouse */
}

